@import "../styles/variables.css";

.about {
  background-color: var(--bg-color);
}
.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  gap: 40px;
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 25px;
  color: #222;
}

.about-me-text {
  font-family: var(--he-font);
  flex: 1;
  line-height: 1.6;
  white-space: pre-line; /* чтобы переносы \n работали */
}

/* Фото */
.about-me-photo img {
  width: 300px;
  max-width: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Для английского - текст слева, фото справа */
.about-me-container.english {
  direction: ltr;
}

/* Для иврита - текст справа, фото слева */
.about-me-container.hebrew {
  direction: rtl;
}

/* Важно: при rtl меняем порядок детей flex */
.about-me-container.hebrew > .about-me-photo {
  order: 1;
}

.about-me-container.hebrew > .about-me-text {
  order: 2;
}

/* Адаптив */
@media (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
    text-align: center;
  }

  .about-me-photo,
  .about-me-text {
    order: unset !important;
  }

  .about-me-photo img {
    width: 80%;
    margin-bottom: 20px;
  }
}
