.contact-form {
  /* background: rgba(20, 20, 20, 0.8); */
  max-width: 600px;
  margin: 40px auto;
  padding: 40px 20px;
  color: var(--primary-color);
  font-family: var(--he-font);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.contact-form h2 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;

  text-align: center;
  color: var(--primary-color);
  text-shadow: 1px 1px 2px var(--primary-color);
}

.contact-form label {
  font-size: 0.9rem;
  margin-top: 25px;
  display: block;
  color: white;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
  font-family: var(--he-font);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #777;
  font-family: var(--he-font);
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-bottom: 1px solid var(--secondary-color);
}
.contact-form input:-webkit-autofill,
.contact-form input:-webkit-autofill:hover,
.contact-form input:-webkit-autofill:focus,
.contact-form textarea:-webkit-autofill {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(--primary-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}
.contact-form textarea {
  resize: none;
  font-family: var(--he-font);
  font-size: 20px;
}

/* .contact-form button {
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 1rem;
  color: var(--primary-color);
  background: var(--bg-color);
  background-color: var(--bg-color);
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
} */

.contact-form button {
  font-family: var(--he-font);
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding: 12px 24px;
  background: var(--bg-color);
  color: var(--primary-color);
  font-weight: 500;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.contact-form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 30%,
    #ece5d48c 45%,
    #f0eee98c 55%,
    transparent 70%
  );
  animation: goldShine 2s linear infinite;
}

@keyframes goldShine {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.contact-form button:hover {
  transform: scale(1.05);
}

html.rtl .contact-form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    240deg,
    /* угол сверху справа → вниз налево */ transparent 30%,
    #f9f7f08c 45%,
    #e2dabe8c 55%,
    transparent 70%
  );
  animation: goldShineRTL 2.5s linear infinite;
}

@keyframes goldShineRTL {
  0% {
    left: 150%;
  }
  100% {
    left: -150%;
  }
}

html.ltr .contact-form button {
  border-radius: 0 0 20px 0;
}
html.rtl .contact-form button {
  border-radius: 0 0 0 20px;
}

.form-status {
  margin-top: 20px;
  font-size: 25px;
  color: var(--primary-color);
  text-align: center;
  animation: fadeIn 0.3s ease-in;
}

@media screen and (max-width: 600px) {
  .contact-form {
    margin: 20px 10px;
    padding: 30px 15px;
  }

  .animated-title {
    font-size: 2rem;
  }

  .letter span {
    font-size: 1.4rem;
  }

  .contact-form button {
    width: 100%;
  }
}
