@import "../styles/variables.css";

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* центрируем вертикально */
  align-items: center; /* центрируем горизонтально */
  height: 50vh;
  color: var(--primary-color);
  overflow: hidden;
}
.background-section {
  width: 100%;
  height: 100%;
  position: relative; /* чтобы before не перекрывал дочерние элементы */
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.background-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.4);
  z-index: 0;
}
.animation-wrapper {
  position: relative;
  z-index: 2; /* SVG будет выше фона */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.animation-title {
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  color: var(--primary-color);
  font-size: 64px;
  font-weight: 100;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  white-space: nowrap;
  font-family: var(--animation-font);
}

.animation-title .word {
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
  animation: slideIn 0.6s forwards;
}

.animation-title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
  animation: slideIn 0.5s forwards;
}
html.ltr .animation-title,
html.ltr .animation-title span {
  font-family: var(--animation-font);
}

html.rtl .animation-title,
html.rtl .animation-title span {
  font-family: var(--animation-font-he);
  font-size: 100px;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.vertical-line {
  position: relative;
  z-index: 2;
  width: 2px;
  height: 0;
  background-color: var(--primary-color);
  margin: 20px auto;
  display: block;
  animation: growLine 1s ease-out 1.2s forwards;
}

@keyframes growLine {
  to {
    height: 150px; /* итоговая высота полосы */
    background: linear-gradient(to bottom, #685554, #aaa);
  }
}
.word {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
  color: var(--primary-color);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.svg-title {
  padding-top: 30px;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.animated-svg {
  width: 50%;
  padding-top: 20px;
  height: auto;
  transform: translateY(-10%);
  clip-path: inset(0 0 70% 0);
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.3s;
  z-index: 3;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  html.ltr .animation-title span {
    font-size: 35px;
    white-space: normal;
    word-break: break-word;
  }
  html.rtl .animation-title span {
    font-size: 45px;
    white-space: normal;
    word-break: break-word;
  }

  .animation-title {
    white-space: normal; /* разрешаем перенос */
  }

  .animated-svg {
    width: 70%;
    padding-top: 0px;

    /* height: 100px; */
  }
  .svg-title {
    height: 20vh;
  }

  .vertical-line {
    width: 1px;
  }
  @keyframes growLine {
    to {
      height: 100px;
    }
  }
}
