@import "../styles/variables.css";

.home-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 80px; */
  color: var(--primary-color);
  justify-content: center;
}
.background-section {
  width: 100%;
  height: 50vh;
  /* background-image: url("../../public/images/background-wedding.jpg"); */
  background-size: cover; /* масштабирует, чтобы покрыть весь блок */
  background-position: center bottom; /* центрирует изображение */
  background-repeat: no-repeat;
  /* position: relative; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* color: black; */
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}
.background-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.4);
  z-index: 0;
}
.animation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: -0px; */
}
.animation-title {
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  color: var(--primary-color);
  font-size: 64px;
  font-weight: 100;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  white-space: nowrap;
  font-family: var(--animation-font);
}

.animation-title .word {
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
  animation: slideIn 0.6s forwards;
}

.animation-title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
  animation: slideIn 0.5s forwards;
}
html.ltr .animation-title,
html.ltr .animation-title span {
  font-family: var(--animation-font);
}

html.rtl .animation-title,
html.rtl .animation-title span {
  font-family: var(--animation-font-he);
  font-size: 100px;
}
/* .animation-title,
.animation-title span,
.animation-title .word {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), 0 0 12px rgba(71, 40, 0, 0.4);
} */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.vertical-line {
  width: 2px;
  height: 0; /* стартовая высота */
  background-color: var(--primary-color);
  margin: 20px auto;
  /* отступ сверху + выравнивание по центру */
  animation: growLine 1s ease-out 1.2s forwards; /* задержка, чтобы начиналась после текста */
}

@keyframes growLine {
  to {
    height: 150px; /* итоговая высота полосы */
    background: linear-gradient(to bottom, #000, #aaa);
  }
}
.word {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
  color: var(--primary-color);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  html.ltr .animation-title span {
    font-size: 35px;
    white-space: normal;
    word-break: break-word;
  }
  html.rtl .animation-title span {
    font-size: 45px;
    white-space: normal;
    word-break: break-word;
  }

  .animation-title {
    white-space: normal; /* разрешаем перенос */
  }
}
