@import "../styles/variables.css";

.projects-container {
  padding: 20px;
  /* background-color: var(--third-bg-color); */
  text-align: center;
  color: var(--primary-color);
  animation: fadeIn 1s ease-in 2s forwards;
  opacity: 0;
  /* font-family: var(--animation-font); */
  font-size: large;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  margin-top: -20px;
}

.projects-container h1 {
  margin-bottom: 50px;
  font-size: 50px;
  font-family: var(--he-font);
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.projects-container p {
  font-size: 36px;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .projects-container h1 {
    font-size: 42px;
  }
}
