.contact-buttons {
  position: fixed;
  top: 50%; /* по центру экрана */
  right: 20px; /* прижато к правому краю */
  transform: translateY(-50%); /* выравнивание по центру */
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  /* background: rgba(255, 255, 255, 0); */
  border-radius: 12px;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); */
  z-index: 999;
}

.contact-buttons-title {
  font-size: 18px;
  margin-bottom: 6px;
  text-align: center;
}

.contact-btn {
  display: flex;
  justify-content: right;
  gap: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.contact-btn span {
  color: white;
}

.contact-btn:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  opacity: 0.95;
}

/* WhatsApp */
.whatsapp {
  /* background-color: #25d366; */
}

/* Telegram */
.telegram {
  /* background-color: #0088cc; */
}

/* Мобильная адаптация */
@media (max-width: 600px) {
  .contact-buttons {
    bottom: 20px;
    right: 20px;
    gap: 12px;
  }

  .contact-btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .contact-btn svg {
    font-size: 20px;
  }
}
