footer {
  background-color: var(--bg-color);
  color: var(--primary-color);
  padding: 20px 20px 20px;
  text-align: center;
  font-family: var(--main-font);
  /* font-family: var(--he-font); */
}

h4 {
  font-weight: 500;
}
.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 16px; */
  margin-bottom: 20px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 18px;
  /* color: white; */
  color: var(--primary-color);
}

.email-link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.social {
  display: block;
  gap: 12px;
  margin: 10px;
}
.social-icons,
.email-icons,
.phone-number {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

/* .icon-btn-whatsapp,
.icon-btn-telegram,
.icon-btn-tiktok {
  color: var(--primary-color);

  text-decoration: none;
  transition: transform 0.3s ease;
  margin: 5px;
} */
.icon-btn-whatsapp,
.icon-btn-telegram,
.icon-btn-tiktok {
  background-color: transparent;
  border-radius: 50%; /* ВАЖНО */

  color: var(--primary-color);
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  margin: 5px;
}

.icon-btn-whatsapp:hover {
  color: white;
  transform: scale(1.1);
  background-color: #25d366;
  border-radius: 50%;
}

.icon-btn-telegram:hover {
  color: white;
  background-color: #0088cc;
  border-radius: 50%;

  transform: scale(1.1);
}
/* .icon-btn-tiktok {
  border: 1px solid var(--primary-color);
} */

.icon-btn-tiktok:hover {
  background-color: #000;
  border-radius: 50%;

  color: #fff;
  transform: scale(1.1);
}

.phone-number {
  font-size: 20px;
  color: var(--primary-color);
}

.footer-bottom {
  border-top: 1px solid var(--primary-color);
  padding-top: 16px;
  font-size: 16px;
  /* color: white; */
  color: var(--primary-color);
}

.footer-bottom p {
  margin: 4px 0;
  font-family: var(--he-font);
}
.phone-link {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
