.lang-switch {
  position: relative;
  display: flex;
  gap: 15px;
  cursor: pointer;
  user-select: none;
}

/* Кнопки языков — без рамок, белые буквы */
.lang-btn {
  background: none;
  border: none;
  /* color: white; */
  color: var(--primary-color);
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 5px;
  position: relative;
  outline: none;
  font-family: var(--he-font);
}
/* .lang-btn.ltr button {
  font-family: var(--main-font);
}
.lang-btn.rtl button {
  font-family: var(--he-font);
} */

.arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
  user-select: none;
}

/* Поворачиваем стрелку вверх, если меню открыто */
.arrow.open {
  transform: rotate(180deg);
}

.lang-btn:hover {
  transform: scale(1.05);
}

/* Выпадающее меню */
.lang-dropdown {
  position: absolute;
  top: 45px;
  background: var(--bg-color);
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 10;
  min-width: 50px;
}

.lang-option {
  margin-left: 10px;
  padding: 10px;
  /* color: white; */
  color: var(--primary-color);

  cursor: pointer;
  white-space: nowrap;
  transition: background 0.3s ease;
}

.navbar.rtl .lang-option:contains("English") {
  font-size: 14px important!;
}

.lang-option:hover {
  background: rgba(255, 255, 255, 0.2);
}
