nav {
  position: sticky;
}
section {
  scroll-margin-top: 80px; /* высота твоего navbar */
}
.navbar {
  /* background-color: var(--bg-color); */
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);

  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.7s ease;
}
.navbar.scrolled {
  background-color: var(--bg-color-solid);
}

.navbar.ltr {
  font-size: 25px;
}

.navbar.rtl .nav-link {
  font-size: 35px;
}

.navbar.ltr .navbar-logo {
  order: -1;
}

.navbar.ltr .lang-switch {
  order: 2;
}

.navbar.rtl .navbar-logo {
  order: -1;
}

.navbar.rtl .lang-switch {
  order: 2;
}

.navbar-logo img {
  width: 130px;
  height: 60px;
  cursor: pointer;
}

/* Ссылки по центру на десктопе */
.navbar-center {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex: 1;
  order: 1;
}

.nav-link {
  position: relative;
  padding-bottom: 5px;
  /* color: white; */
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-link.ltr a {
  font-family: var(--he-font);
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--primary-color);
  transition: width 0.4s ease;
}
html.rtl .nav-link::after {
  left: auto;
  right: 0;
}
.nav-link:hover::after,
.nav-link.active-link::after {
  width: 100%;
}

/* Бургер скрыт на десктопе */
.burger-btn {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  /* order: 3; */
}
.line {
  width: 24px;
  height: 1px;
  background: var(--primary-color);
  transition: all 0.3s ease;
}
.burger .line:nth-child(1) {
  width: 24px;
}
.burger .line:nth-child(2) {
  width: 14px;
}
.burger .line:nth-child(3) {
  width: 18px;
}
.line.open:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}
.line.open:nth-child(2) {
  opacity: 0;
}
.line.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    position: sticky;
  }
  .burger-btn {
    display: flex;
  }

  .navbar-center {
    flex-direction: column;
    position: absolute;
    top: 74px;
    left: 0;
    right: 0;
    background-color: var(--bg-color-solid);
    max-height: 0;
    overflow: hidden;
    text-align: center;
    gap: 20px;
    padding: 0;
    transition: max-height 0.4s ease, padding 0.4s ease;
  }
  .navbar-center.open {
    max-height: 300px;
    padding: 20px 0;
  }
  .navbar.ltr .navbar-logo {
    order: 2;
  }
  .navbar.ltr {
    font-size: 20px;
  }

  .navbar.rtl .nav-link {
    font-size: 25px;
  }
  .navbar.ltr .lang-switch {
    order: 2;
  }
  .navbar.ltr .burger {
    order: 1;
  }
  .navbar.rtl .navbar-logo {
    order: 1;
  }

  .navbar.rtl .lang-switch {
    order: 2;
  }
  .navbar.rtl .burger {
    order: 0;
  }
}
