@import "../styles/variables.css";

.navbar {
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: block;
  font-size: 20px;
  color: white;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

/* .logo {
  font-weight: bold;
  font-size: 1.8rem;
  color: white;
  position: relative;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    oklch(84.42% 0.19 202.24),
    white,
    oklch(84.42% 0.19 202.24)
  );
  background-size: 200% auto;
  background-position: left center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 0.6s ease;
}

.logo:hover {
  background-position: right center;
} */

.nav-link {
  position: relative;
  padding-bottom: 5px;
  /* color: var(--primary-color); */
  color: white;
  /* font-family: var(--secondary-font); */
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  /* background-color: var(--primary-color); */
  background-color: white;
  border-radius: 2px;
  transition: width 0.4s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-center {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.nav-link:hover {
  /* color: var(--primary-color); */
  color: white;
  font-weight: bold;
}

.nav-link.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  /* color: var(--primary-color); */
  color: white;
  /* background-color: var(--primary-color); */
  background-color: white;
  border-radius: 1px;
  font-weight: bold;
}
a.active-link {
  font-weight: bold;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  z-index: 1100;
}

.line {
  width: 24px;
  height: 3px;
  /* background: var(--primary-color); */
  background: white;
  transition: all 0.3s ease;
}

.line.open:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}
.line.open:nth-child(2) {
  opacity: 0;
}
.line.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .navbar-center {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    max-height: 0;
    overflow: hidden;
    text-align: center;
  }

  .navbar-center.open {
    max-height: 300px;
    padding: 20px 0;
    background-color: rgba(132, 129, 129, 0.982);
  }

  .navbar-right {
    flex-direction: column;
  }
  .nav-link:hover::after {
    width: 100%;
  }
  .nav-link.active-link::after {
    width: 100%;
    font-weight: bold;
  }
}
