@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC&family=Bellefair&family=Gruppo&family=Libertinus+Sans:ital,wght@0,400;0,700&display=swap");
@import "../src/styles/variables.css";
* {
  box-sizing: border-box;
  margin: 0;
}
section,
footer {
  overflow: hidden;
  white-space: wrap;
  word-break: break-word;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--he-font);
  font-size: 20px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  /* overflow-x: hidden; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Для всех контейнеров с прокруткой */
*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
/* html.ltr,
body.ltr {
  font-family: var(--he-font);
  font-weight: 400;
} */

/* html.rtl,
body.rtl {
  font-family: var(--he-font);
} */
