@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC&family=Bellefair&family=Gruppo&family=Libertinus+Sans:ital,wght@0,400;0,700&display=swap");
@import "../src/styles/variables.css";

body {
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-family: var(--main-font); */
  font-size: 20px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
}

html.ltr,
body.ltr {
  font-family: var(--main-font);
  /* font-family: var(--he-font); */
}

html.rtl,
body.rtl {
  font-family: var(--he-font); /* иврит */
}
